$font-path: '../fonts' !default;

@font-face {
  font-family: 'Myriad Pro';
  font-weight: normal;
  font-style: normal;

  src: url('#{$font-path}/myriadproregular.eot');
  src: url('#{$font-path}/myriadproregular.eot?#iefix') format('embedded-opentype'),
  url('#{$font-path}/myriadproregular.woff') format('woff'),
  url('#{$font-path}/myriadproregular.ttf') format('truetype'),
  url('#{$font-path}/myriadproregular.otf') format('otf');
}

@font-face {
  font-family: 'Myriad Pro';
  font-weight: normal;
  font-style: italic;

  src: url('#{$font-path}/myriadproitalic.eot');
  src: url('#{$font-path}/myriadproitalic.eot?#iefix') format('embedded-opentype'),
  url('#{$font-path}/myriadproitalic.woff') format('woff'),
  url('#{$font-path}/myriadproitalic.ttf') format('truetype'),
  url('#{$font-path}/myriadproitalic.otf') format('otf');
}

@font-face {
  font-family: 'Myriad Pro';
  font-weight: $f-sbold;
  font-style: normal;

  src: url('#{$font-path}/myriadprosemibold.eot');
  src: url('#{$font-path}/myriadprosemibold.eot?#iefix') format('embedded-opentype'),
  url('#{$font-path}/myriadprosemibold.woff') format('woff'),
  url('#{$font-path}/myriadprosemibold.ttf') format('truetype'),
  url('#{$font-path}/myriadprosemibold.otf') format('otf');
}

@font-face {
  font-family: 'Myriad Pro';
  font-weight: $f-sbold;
  font-style: italic;

  src: url('#{$font-path}/myriadprosemibolditalic.eot');
  src: url('#{$font-path}/myriadprosemibolditalic.eot?#iefix') format('embedded-opentype'),
  url('#{$font-path}/myriadprosemibolditalic.woff') format('woff'),
  url('#{$font-path}/myriadprosemibolditalic.ttf') format('truetype'),
  url('#{$font-path}/myriadprosemibolditalic.otf') format('otf');
}

@font-face {
  font-family: 'Myriad Pro';
  font-weight: $f-bold;
  font-style: normal;

  src: url('#{$font-path}/myriadprobold.eot');
  src: url('#{$font-path}/myriadprobold.eot?#iefix') format('embedded-opentype'),
  url('#{$font-path}/myriadprobold.woff') format('woff'),
  url('#{$font-path}/myriadprobold.ttf') format('truetype'),
  url('#{$font-path}/myriadprobold.otf') format('otf');
}
@font-face {
  font-family: 'Myriad Pro';
  font-weight: $f-bold;
  font-style: italic;

  src: url('#{$font-path}/myriadprobolditalic.eot');
  src: url('#{$font-path}/myriadprobolditalic.eot?#iefix') format('embedded-opentype'),
  url('#{$font-path}/myriadprobolditalic.woff') format('woff'),
  url('#{$font-path}/myriadprobolditalic.ttf') format('truetype'),
  url('#{$font-path}/myriadprobolditalic.otf') format('otf');
}
