$font-path: '../fonts' !default;

@font-face {
  font-family: 'Myriad Pro Cond';
  font-weight: normal;
  font-style: normal;

  src: url('#{$font-path}/myriadprocondregular.eot');
  src: url('#{$font-path}/myriadprocondregular.eot?#iefix') format('embedded-opentype'),
  url('#{$font-path}/myriadprocondregular.woff') format('woff'),
  url('#{$font-path}/myriadprocondregular.ttf') format('truetype');
}

@font-face {
  font-family: 'Myriad Pro Cond';
  font-weight: normal;
  font-style: italic;

  src: url('#{$font-path}/myriadproconditalic.eot');
  src: url('#{$font-path}/myriadproconditalic.eot?#iefix') format('embedded-opentype'),
  url('#{$font-path}/myriadproconditalic.woff') format('woff'),
  url('#{$font-path}/myriadproconditalic.ttf') format('truetype'),
  url('#{$font-path}/myriadproconditalic.otf') format('otf');
}

@font-face {
  font-family: 'Myriad Pro Cond';
  font-weight: bold;
  font-style: normal;

  src: url('#{$font-path}/myriadprocondbold.eot');
  src: url('#{$font-path}/myriadprocondbold.eot?#iefix') format('embedded-opentype'),
  url('#{$font-path}/myriadprocondbold.woff') format('woff'),
  url('#{$font-path}/myriadprocondbold.ttf') format('truetype'),
  url('#{$font-path}/myriadprocondbold.otf') format('otf');
}

@font-face {
  font-family: 'Myriad Pro Cond';
  font-weight: bold;
  font-style: italic;

  src: url('#{$font-path}/myriadprocondbolditalic.eot');
  src: url('#{$font-path}/myriadprocondbolditalic.eot?#iefix') format('embedded-opentype'),
  url('#{$font-path}/myriadprocondbolditalic.woff') format('woff'),
  url('#{$font-path}/myriadprocondbolditalic.ttf') format('truetype'),
  url('#{$font-path}/myriadprocondbolditalic.otf') format('otf');
}
